.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  margin: auto;
  min-height: 110vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 20vmin;
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white);
}

.selector {
  display: flex;
  justify-content: space-evenly;
}

.selectorMeal {
  height: 25px;
}

.selectorMealType {
  height: 55px;
}

.spin {
  margin: auto -150px auto 30px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-content: center;
}

.form {
  grid-column: 1 / 3;
  margin-left: 20px;
}

.opction {
  display: inline-flex;
}

.opction h5 select {
  margin: 15px 0 0 0;
}

select {
  height: 30px;
  margin: auto 5px;
}

.App-ruleta,
.App-ruleteSpin {
  grid-column: 1 / 3;
  height: 40vmin;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
  filter: drop-shadow(1px 1px 5px black);
}

.App-flecha {
  grid-column: 3;
  height: 35vmin;
  margin-top: 125px;
}

.spin h3 {
  grid-column: 1 / 4;
  grid-row: 2;
  margin: 0 280px 0 0;
}

.getMeal {
  margin: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.mealIdeas {
  text-align: left;
  min-width: 500px;
  min-height: 300px;
  margin: 25px auto;
  padding: 0 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  filter: drop-shadow(1px 1px 5px black);
  border-radius: 25px;
}

.mealIdeas h3 {
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 15px auto;
}

.loading {
  margin: 25px auto;
}

.idea {
  display: flex;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3px 10px;
  border-radius: 15px;
  cursor: pointer;
  filter: drop-shadow(1px 1px 2px white);
}

.recipeLogo {
  height: 5vmin;
  margin-right: 5px;
}

.idea p {
  font-size: medium;
  font-weight: bold;
}

.subtitle {
  margin: 0;
}

.mealIdea {
  margin: 2px;
}

.getRecipe {
  grid-column: 1 / 3;
  grid-row: 2;
  margin: 25px auto;
  width: 800px;
  height: 90%;
  background-color: aliceblue;
  border-radius: 25px;
  filter: drop-shadow(1px 1px 5px black)
}

.divRecipe {
  margin: auto 15px;
  color: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-ruleteSpin {
    animation: App-ruleta-spin infinite 2s linear;
  }
}

@keyframes App-ruleta-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}